* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

form {
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form fieldset {
    padding: 20px 40px;
    border: 3px solid #ccc;
}

form legend {
    text-align: left;
    font-size: 17px;
    color: rgb(130,130,130);
}

form input[type=text], form input[type=email] {
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    outline: 0;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
}

form select {
    width: calc(80% + 26px);
    margin-top: 30px;
    padding: 10px 13px;
    display: inline-block;
    outline: 0;
    border-color: #ddd;
}

form select:hover {
    border-color: #ddd;
}

form h2 {
    margin-top: 20px;
    color: rgba(100,100,100);
}

.radio-input {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.radio-input span {
    margin-left: 13px;
    font-size: 16px;
    color: rgb(130,130,130);
}

form input[type=submit] {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 13px;
    outline: 0;
    font-size: 16px;
    border: 0;
    color: white;
    background-color: #1b1a1a;
    cursor: pointer;
}

form input[type=submit]:hover {
    color: #ccc;
}

form textarea {
    width: calc(80% + 26px);
    margin-top: 20px;
    padding: 10px 13px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    height: 100px;
    resize: none;
}