* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #212343;
}

.header  img {
    margin: 15px;
}

.container-banner {
    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner > .center {
    height: 100%;
    /*text-align: right;*/
}

.form {
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    /*display: inline-block;*/
    float: right;
    position: relative;
    top: -15px;
    border-width: 12px;
    border-color: rgba(120, 120, 120, 0.5);
    border-style: solid;
    background-color: white;
    background-clip: padding-box;
}

.form h2 {
    font-weight: normal;
    color: #999;
    font-size: 21px;
}

.input-container {
    margin-top: 20px;
}

.input-container span,
.form p {
    display: inline-block;
    width: 100%;
    color: #bbb;
    font-size: 17px;
}

.form p {
    margin: 20px 0;
}

.input-container input:not([type="submit"]) {
    margin-top: 8px;
    padding: 10px;
    font-size: 16px;
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
}

.form .input-submit-container {
    text-align: center;
}

.form input[type="submit"] {
    width: 280px;
    height: 56px;
    background-color: #363A6D;
    color: white;
    display: inline-block;
    font-size: 25px;
    border: 0;
    border-bottom: 5px solid #4A5097;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #1b1e3a;
}

.container-list {
    padding: 30px;
    margin-top: 40px;
    float: left;
    width: 619px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul {
    list-style-position: inside;
}

.container-list ul li {
    margin-top: 18px;
    color: white;
}

.container-2 {
    padding: 40px 0;
    background-color: #ddd; 
    text-align: center;
}

.container-2 h2 {
    font-weight: normal;;
}

.container-2 p {
    width: 698px;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;
    font-weight: lighter;
}

.arrow {
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url('../images/arrow.png');
    background-size: 100% 100%;
}