* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

.box {
    width: 300px;
    height: 70px;
    margin: 0 auto;
    background: gray;
    overflow-x: auto;
}

.box p {
    width: 500px;
}