* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* a[href="https://google.com"] {
    background-color: #ff0;
}

[href="https://google.com"] {
    background-color: red;
} */

/* a[href*="danki"] {
    background-color: #00f;
} */