* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 768px;
    margin: 20px auto;
    padding: 30px 0;
    border: 3px solid rgb(220, 220, 220);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.img-wrapper {
    width: 225px;
}

.img-wrapper img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {

    .img-wrapper {
        width: 100%;
    }
}