html,
body {
    height: 100%;
}

.lista,
.lista2 {
    list-style-position: square;
    margin-left: 20px;
}

.lista li,
.lista2 li {
    font-size: 18px;
    color: #4b4b4b;
    margin-top: 10px;
}

.lista2 {
    background-color: yellow;
}

li.item3 {
    font-weight: bold;
}